@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

@import "tailwindcss";


@theme{
  --font-cardo: "Cardo", serif;
  --animate-slideIn: slideIn 1s ease-in forwards;
  --animate-slideUp: slideUp 1s ease-in;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from{
    transform: translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
  
}

@layer components {
  .nav-link-active {
    @apply cursor-pointer relative pb-2;
  }

  .nav-link-active.active::after {
    @apply content-[''] absolute left-0 bottom-0 h-[2px] bg-white w-full transition-all duration-300;
  }

  .nav-link-active:not(.active)::after {
    @apply w-0;
  }
}

